Source: moos-ivp
Priority: optional
Maintainer: Toby Schneider <tes.aubergine@gmail.com>
Build-Depends: debhelper-compat (= 13),
               cmake (>= 2.6.0),
               libxinerama-dev,
               freeglut3-dev | libglut3-dev,
               libx11-dev,
               libxft-dev,
               libtiff-dev,
               libfltk1.3-dev,
               fluid,
               libproj-dev
Standards-Version: 4.7.0
Rules-Requires-Root: no
Section: science
Homepage: https://oceanai.mit.edu/moos-ivp/pmwiki/pmwiki.php?n=Main.HomePage
Vcs-Git: https://github.com/moos-ivp/moos-ivp.git
Vcs-Browser: https://github.com/moos-ivp/moos-ivp

Package: libmoos10-mit
Provides: libmoos10
Architecture: any
Section: libs
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Cross Platform Software for Robotics Research. 
 From An Overview of MOOS-IvP and a Users Guide to the IvP Helm Autonomy Software (http://hdl.handle.net/1721.1/57583): MOOS is often described as autonomy "middleware" which can be argued is shorthand for the glue that connects a collection of applications where the "real" work is going on. MOOS does indeed connect a collection of applications.... 
 However, each application inherits a generic MOOS interface whose implementation provides a powerful, easy-to-use means of communicating with other applications and controlling the relative frequency at which the application executes its primary set of functions. Due to its combination of ease-of-use, general extendability and reliability, it has been used in the classroom by students with no prior experience, as well on many extended field exercises with substantial robotic resources at stake. 
 This packages contains the MOOS library (libMOOS) for the redesigned version 10 of MOOS.

Package: libmoos10-mit-dev
Provides: libmoos10-dev
Architecture: any
Section: libdevel
Multi-Arch: same
Depends: libmoos10-mit (=${binary:Version}),
         ${misc:Depends}
Description: Cross Platform Software for Robotics Research. 
 From An Overview of MOOS-IvP and a Users Guide to the IvP Helm Autonomy Software (http://hdl.handle.net/1721.1/57583): MOOS is often described as autonomy "middleware" which can be argued is shorthand for the glue that connects a collection of applications where the "real" work is going on. MOOS does indeed connect a collection of applications.... 
 However, each application inherits a generic MOOS interface whose implementation provides a powerful, easy-to-use means of communicating with other applications and controlling the relative frequency at which the application executes its primary set of functions. Due to its combination of ease-of-use, general extendability and reliability, it has been used in the classroom by students with no prior experience, as well on many extended field exercises with substantial robotic resources at stake. 
 This packages contains the MOOS library header files for the redesigned version 10 of MOOS.

Package: moos10-mit-coretools
Provides: moos10-coretools
Architecture: any
Section: science
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Cross Platform Software for Robotics Research. 
 From An Overview of MOOS-IvP and a Users Guide to the IvP Helm Autonomy Software (http://hdl.handle.net/1721.1/57583): MOOS is often described as autonomy "middleware" which can be argued is shorthand for the glue that connects a collection of applications where the "real" work is going on. MOOS does indeed connect a collection of applications.... 
 However, each application inherits a generic MOOS interface whose implementation provides a powerful, easy-to-use means of communicating with other applications and controlling the relative frequency at which the application executes its primary set of functions. Due to its combination of ease-of-use, general extendability and reliability, it has been used in the classroom by students with no prior experience, as well on many extended field exercises with substantial robotic resources at stake. 
 This packages contains the various command line tools included with MOOS.

Package: moos10-mit-db
Provides: moosdb10, moos10-db
Architecture: any
Section: science
Depends: ${shlibs:Depends}, ${misc:Depends}, netbase
Description: Cross Platform Software for Robotics Research. 
 From An Overview of MOOS-IvP and a Users Guide to the IvP Helm Autonomy Software (http://hdl.handle.net/1721.1/57583): MOOS is often described as autonomy "middleware" which can be argued is shorthand for the glue that connects a collection of applications where the "real" work is going on. MOOS does indeed connect a collection of applications.... 
 However, each application inherits a generic MOOS interface whose implementation provides a powerful, easy-to-use means of communicating with other applications and controlling the relative frequency at which the application executes its primary set of functions. Due to its combination of ease-of-use, general extendability and reliability, it has been used in the classroom by students with no prior experience, as well on many extended field exercises with substantial robotic resources at stake. 
 This packages contains the "MOOSDB" for the redesigned version 10 of MOOS.

Package: moos10-mit-essentials
Provides: moos10-essentials
Architecture: any
Section: science
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Cross Platform Software for Robotics Research. 
 From An Overview of MOOS-IvP and a Users Guide to the IvP Helm Autonomy Software (http://hdl.handle.net/1721.1/57583): MOOS is often described as autonomy "middleware" which can be argued is shorthand for the glue that connects a collection of applications where the "real" work is going on. MOOS does indeed connect a collection of applications.... 
 However, each application inherits a generic MOOS interface whose implementation provides a powerful, easy-to-use means of communicating with other applications and controlling the relative frequency at which the application executes its primary set of functions. Due to its combination of ease-of-use, general extendability and reliability, it has been used in the classroom by students with no prior experience, as well on many extended field exercises with substantial robotic resources at stake. 
 This packages contains the "Essentials" MOOS Apps, such as pAntler

Package: moos10-mit-ui
Provides: moos10-ui
Architecture: any
Section: science
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Cross Platform Software for Robotics Research. 
 From An Overview of MOOS-IvP and a Users Guide to the IvP Helm Autonomy Software (http://hdl.handle.net/1721.1/57583): MOOS is often described as autonomy "middleware" which can be argued is shorthand for the glue that connects a collection of applications where the "real" work is going on. MOOS does indeed connect a collection of applications.... 
 However, each application inherits a generic MOOS interface whose implementation provides a powerful, easy-to-use means of communicating with other applications and controlling the relative frequency at which the application executes its primary set of functions. Due to its combination of ease-of-use, general extendability and reliability, it has been used in the classroom by students with no prior experience, as well on many extended field exercises with substantial robotic resources at stake. 
 This packages contains the "ToolsUI" MOOS Apps, such as uMS

Package: libmoos-ivp-dev
Section: libdevel
Architecture: any
Depends: libmoos-ivp (= ${binary:Version}),
	 libxinerama-dev,
         freeglut3-dev | libglut3-dev,
         libx11-dev,
         libxft-dev,
         libtiff-dev,
         libfltk1.3-dev,
         fluid,
         libproj-dev,
         ${misc:Depends}
Description: Developers' package for the libraries included with the MOOS-IvP multi-objective decision engine (and related tools) for autonomous marine vehicles.
 MOOS-IvP includes software for high-level control (decision-making) on robotic platforms (primarily marine). IvP stands for "Interval Programming" which is a mathematical programming model for multi-objective optimization. In the IvP model each objective function is a piecewise linear construct where each piece is an interval in N-Space.  The IvP model and algorithms are included in the IvP Helm software as the method for representing and reconciling the output of helm behaviors. 
 This package provides the developer headers for the libraries in MOOS-IvP.

Package: libmoos-ivp
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Libraries included with the MOOS-IvP multi-objective decision engine (and related tools) for autonomous marine vehicles.
 MOOS-IvP includes software for high-level control (decision-making) on robotic platforms (primarily marine). IvP stands for "Interval Programming" which is a mathematical programming model for multi-objective optimization. In the IvP model each objective function is a piecewise linear construct where each piece is an interval in N-Space.  The IvP model and algorithms are included in the IvP Helm software as the method for representing and reconciling the output of helm behaviors.
 This package provides the libraries in MOOS-IvP.

Package: moos-ivp-gui
Depends: ${shlibs:Depends}, ${misc:Depends}
Section: science
Architecture: any
Description: Graphical tools for the MOOS-IvP multi-objective decision engine.
 MOOS-IvP includes software for high-level control (decision-making) on robotic platforms (primarily marine). IvP stands for "Interval Programming" which is a mathematical programming model for multi-objective optimization. In the IvP model each objective function is a piecewise linear construct where each piece is an interval in N-Space.  The IvP model and algorithms are included in the IvP Helm software as the method for representing and reconciling the output of helm behaviors.
 This package provides the graphical applications in MOOS-IvP (e.g. pMarineViewer).

Package: moos-ivp-apps
Depends: ${shlibs:Depends}, ${misc:Depends}
Section: science
Architecture: any
Description: The MOOS-IvP multi-objective decision engine (pHelmIvP) and related tools for autonomous marine vehicles, except GUI applications.
 MOOS-IvP includes software for high-level control (decision-making) on robotic platforms (primarily marine). IvP stands for "Interval Programming" which is a mathematical programming model for multi-objective optimization. In the IvP model each objective function is a piecewise linear construct where each piece is an interval in N-Space.  The IvP model and algorithms are included in the IvP Helm software as the method for representing and reconciling the output of helm behaviors. 
 This package provides the MOOS applications in MOOS-IvP (e.g. pHelmIvP), except those requiring graphical libraries.

Package: moos-ivp-tools
Depends: ${shlibs:Depends}, ${misc:Depends}
Section: science
Architecture: any
Description: Command line utilities provided by the MOOS-IvP autonomy framework.
 MOOS-IvP includes software for high-level control (decision-making) on robotic platforms (primarily marine). IvP stands for "Interval Programming" which is a mathematical programming model for multi-objective optimization. In the IvP model each objective function is a piecewise linear construct where each piece is an interval in N-Space.  The IvP model and algorithms are included in the IvP Helm software as the method for representing and reconciling the output of helm behaviors.
 This package provides the command line utilities provided by MOOS-IvP.

Package: moos-ivp-alog
Depends: ${shlibs:Depends}, ${misc:Depends}
Section: science
Architecture: any
Description: ALOG log processing utilities provided by the MOOS-IvP autonomy framework.
 MOOS-IvP includes software for high-level control (decision-making) on robotic platforms (primarily marine). IvP stands for "Interval Programming" which is a mathematical programming model for multi-objective optimization. In the IvP model each objective function is a piecewise linear construct where each piece is an interval in N-Space.  The IvP model and algorithms are included in the IvP Helm software as the method for representing and reconciling the output of helm behaviors.
 This package provides the ALOG log processing utilities provided by MOOS-IvP.

Package: moos-ivp-missions
Depends: ${misc:Depends}
Section: science
Architecture: all
Description: Example missions for the MOOS-IvP autonomy framework.
 MOOS-IvP includes software for high-level control (decision-making) on robotic platforms (primarily marine). IvP stands for "Interval Programming" which is a mathematical programming model for multi-objective optimization. In the IvP model each objective function is a piecewise linear construct where each piece is an interval in N-Space. The IvP model and algorithms are included in the IvP Helm software as the method for representing and reconciling the output of helm behaviors.
 This package provides the example missions distributed with MOOS-IvP, packaged as /usr/share/ivp/missions.tgz.

