#!/usr/bin/make -f

MOOS_CORE_SRC_DIR=$(CURDIR)/MOOS/MOOSCore
MOOS_CORE_BUILD_DIR = $(CURDIR)/build/MOOS/MOOSCore
MOOS_CORE_CMAKE_EXTRA_FLAGS = -DUSE_ASYNC_COMMS=ON -DBUILD_SHARED_LIBS=ON -DCMAKE_POLICY_VERSION_MINIMUM=3.5

MOOS_GEODESY_SRC_DIR=$(CURDIR)/MOOS/MOOSGeodesy
MOOS_GEODESY_BUILD_DIR=$(CURDIR)/build/MOOS/MOOSGeodesy
MOOS_GEODESY_CMAKE_EXTRA_FLAGS=

IVP_SRC_DIR=$(CURDIR)/ivp/src
IVP_BUILD_DIR = $(CURDIR)/build/ivp
IVP_CMAKE_EXTRA_FLAGS = -DIVP_BUILD_GUI_CODE=ON -DMOOS_DIR=$(MOOS_CORE_BUILD_DIR) -DMOOSGeodesy_DIR=$(MOOS_GEODESY_BUILD_DIR)

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure --sourcedirectory=$(MOOS_CORE_SRC_DIR) --builddirectory=$(MOOS_CORE_BUILD_DIR) -- $(MOOS_CORE_CMAKE_EXTRA_FLAGS)
	dh_auto_configure --sourcedirectory=$(MOOS_GEODESY_SRC_DIR) --builddirectory=$(MOOS_GEODESY_BUILD_DIR) -- $(MOOS_GEODESY_CMAKE_EXTRA_FLAGS)
	dh_auto_configure --sourcedirectory=$(IVP_SRC_DIR) --builddirectory=$(IVP_BUILD_DIR) -- $(IVP_CMAKE_EXTRA_FLAGS)

override_dh_auto_build:
	dh_auto_build --sourcedirectory=$(MOOS_CORE_SRC_DIR) --builddirectory=$(MOOS_CORE_BUILD_DIR)
	dh_auto_build --sourcedirectory=$(MOOS_GEODESY_SRC_DIR) --builddirectory=$(MOOS_GEODESY_BUILD_DIR)
	dh_auto_build --sourcedirectory=$(IVP_SRC_DIR) --builddirectory=$(IVP_BUILD_DIR)

override_dh_auto_install:
	dh_auto_install --sourcedirectory=$(MOOS_CORE_SRC_DIR) --builddirectory=$(MOOS_CORE_BUILD_DIR)
	dh_auto_install --sourcedirectory=$(MOOS_GEODESY_SRC_DIR) --builddirectory=$(MOOS_GEODESY_BUILD_DIR)
	dh_auto_install --sourcedirectory=$(IVP_SRC_DIR) --builddirectory=$(IVP_BUILD_DIR)

override_dh_auto_clean:
	dh_auto_clean --sourcedirectory=$(MOOS_CORE_SRC_DIR) --builddirectory=$(MOOS_CORE_BUILD_DIR)
	dh_auto_clean --sourcedirectory=$(MOOS_GEODESY_SRC_DIR) --builddirectory=$(MOOS_GEODESY_BUILD_DIR)
	dh_auto_clean --sourcedirectory=$(IVP_SRC_DIR) --builddirectory=$(IVP_BUILD_DIR)

export DEB_BUILD_PARALLEL = true
