#!/usr/bin/make -f

IVP_UPSTREAM_VERSION = 24.8.1
IVP_UPSTREAM_TAG = v$(IVP_UPSTREAM_VERSION)
IVP_UPSTREAM_REPOSITORY = https://github.com/moos-ivp/moos-ivp

get-orig-source:
	wget -q -O moos-ivp_$(IVP_UPSTREAM_VERSION).orig.tar.gz $(IVP_UPSTREAM_REPOSITORY)/archive/refs/tags/$(IVP_UPSTREAM_TAG).tar.gz;

IVP_SRC_DIR=ivp/src
MOOS_CORE_SRC_DIR=MOOS/MOOSCore

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure --sourcedirectory=$(MOOS_CORE_SRC_DIR)
#	dh_auto_configure --sourcedirectory=$(IVP_SRC_DIR) -- -DIVP_BUILD_GUI_CODE=ON -DCMAKE_CXX_FLAGS="$(IVP_CXXFLAGS)"

override_dh_auto_build:
	dh_auto_build --sourcedirectory=$(MOOS_CORE_SRC_DIR)
#	dh_auto_build --sourcedirectory=$(IVP_SRC_DIR)

override_dh_auto_install:
	dh_auto_install --sourcedirectory=$(MOOS_CORE_SRC_DIR)
#	dh_auto_install --sourcedirectory=$(IVP_SRC_DIR)

override_dh_auto_clean:
	dh_auto_clean --sourcedirectory=$(MOOS_CORE_SRC_DIR)
#	dh_auto_clean --sourcedirectory=$(IVP_SRC_DIR)

# Add here any variable or target overrides you need.
export DEB_BUILD_PARALLEL = true
export IVP_CXXFLAGS = -Wno-error=format-security
